apiVersion: apps/v1
kind: Deployment
metadata:
  name: va-frontend
  namespace: video-analytics
  labels:
    app: video-analytics
    component: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: video-analytics
      component: frontend
  template:
    metadata:
      labels:
        app: video-analytics
        component: frontend
    spec:
      containers:
        - name: va-frontend
          image: 801867402650.dkr.ecr.us-east-1.amazonaws.com/frontend:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 80
          envFrom:
            - configMapRef:
                name: video-analytics-config
          resources:
            requests:
              cpu: "50m"
              memory: "64Mi"
            limits:
              cpu: "250m"
              memory: "256Mi"
          readinessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 10
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 30
            periodSeconds: 30
      serviceAccountName: app-sa

