apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: uploader-data
  namespace: video-analytics
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: gp2
